#Register-now{
    border: none;
    padding: 0px;
    background-color: yellow;
    height: auto;
}
#Register-now:hover{
    border: none;
    padding: 0px;
    background-color: yellow;
    height: auto;
}
